<div class="container-sm">

  <button type="button" class="btn btn-light" [routerLink]="['/product-details']">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </button>

  <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 10px;" >
    <div class="clearfix product-deatil">
      <div class="row">
          <div class="col-md-10 col-sm-12 col-xs-12">

            
          </div>                    
                 </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>